*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('./background.png');
    display: grid;
    grid-template: 100px 1fr auto auto/ 1fr auto 1fr;
}

#winningMessage{
    grid-column: 1 / 4;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    align-self: end;
}

#board{
    top: 0px;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    height: fit-content;
    width: fit-content;
    gap: 25px;
    padding: 50px;
    justify-self: center;
}

.square{
    height: 100px;
    width: 100px;
    background-color: #FFFDD0;
    font-size: 64px;
    display: grid;
    align-items: center;
    justify-items: center;
}

button{
    grid-column: 1 / 4;
    margin-top: 30px;
    width: 300px;
    height: 100px;
    background-color: #FFFDD0;
    justify-self: center;
    border-radius: 15px;   
    font-size: 32px;
}

.player{
    grid-row: 2 / 3;
    display: grid;
    justify-items: center;
    align-content: center;
    text-align: center;
}

.player p{
    font-size: 72px;
    font-weight: bold;
}

input{
    font-size: 48px;
    font-weight: bold;;
    text-align: center;
    border: none;
    background-color: transparent;
    width: 400px;
}

input.symbol{
    font-size: 64px;
    width: 100px;
}